.main__table-header-list{
    display: grid;
    grid-template-columns: 23px 45px 95px 150px 100px 100px 90px 70px 105px 105px 90px 110px 140px;
    grid-template-areas: 
    'empty number date type-work important brand where-print photo manager worker price status comments';
    min-height: 70px;
    max-width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content:space-between;  
    list-style: none;
    padding: 0;
    color: var(--dark, #3E3D3D);
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    border-bottom: 2px solid var(--table-header-stroke, #9CC6FF);
}

@media (max-width: 1280px) {
/* Adjust the layout for 1280px width */
    .main__table-header-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 768px) {
/* Adjust the layout for 768px width */
    .main__table-header-list {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        'photo date important price manager status' 
        'number brand type-work where-print worker comments';
    }
}

@media (max-width: 628px) {
    /* Adjust the layout for 320px width */
    .main__table-header-list {
        min-height: 5px;
        border-bottom: none;
    }
}

@media (max-width: 320px) {
    /* Adjust the layout for 320px width */
    .main__table-header-list {
        grid-template-columns: repeat(3, 1fr);
    }
}