.main__table-row-element__importance{  
    display: flex;
    width: 80px;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #099EBE;
    background: var(--white, #FFF);
    color: #099EBE;
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}