.header__nav{
    display: grid;
    width: 100%;
    grid-template-areas: 
    'header-logo header-nav-menu header-nav-buttons header-nav-auth-buttons';
    align-items: end;
    align-self: center;
    justify-content: space-evenly;
}
@media (max-width: 320px) {
    /* Adjust the layout for 768px width */
        .header__nav {
            grid-template-areas:
            'header-logo' 
            'header-nav-menu'
            'header-nav-buttons' 
            'header-nav-auth-buttons';
        }
    }