.header__nav-auth-buttons{
    display: flex;
    grid-area: header-nav-auth-buttons;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 23px;
}

@media (max-width: 628px) {
    .header__nav-auth-buttons{
        padding: 0;
        margin: 0;
    }
}